.header {
  box-shadow: 0px 2px 1px rgba(46,47,66,0.08),
              0px 1px 1px rgba(46,47,66,0.16),
              0px 1px 6px rgba(46,47,66,0.08);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-menu-link,
.header-contacts-link {
  transition: color 250ms cubic-bezier(0.4,0,0.2,1);
}

/* HERO FIX */
.hero {
  max-width: 1440px;
  margin: 0 auto;

  background-image:
    linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)),
    url("../images/hero image.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-service-btn {
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

/* FEATURES */
.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* TEAM */
.team-item {
  box-shadow: 0px 1px 6px rgba(46,47,66,0.08),
              0px 1px 1px rgba(46,47,66,0.16),
              0px 2px 1px rgba(46,47,66,0.08);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
}

/* FOOTER */
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-brand {
  margin-right: 120px;
}

.footer-social-title {
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}
